BETTER_STACK_API_KEY=
BETTER_STACK_URL=

RABBITMQ_USERNAME=
RABBITMQ_PORT=
RABBITMQ_HOST=
RABBITMQ_PASSWORD=

QUARKUS_DATASOURCE_JDBC_URL=
QUARKUS_DATASOURCE_USERNAME=
QUARKUS_DATASOURCE_PASSWORD=

OTEL_EXPORTER_OTLP_ENDPOINT=

KEYCLOAK_ISSUER_URI=
