# Better Stack
BETTER_STACK_API_KEY=
BETTER_STACK_URL=

# RabbitMQ
RABBITMQ_USERNAME=
RABBITMQ_PORT=
RABBITMQ_HOST=
RABBITMQ_PASSWORD=

# Postgres
QUARKUS_DATASOURCE_JDBC_URL=
QUARKUS_DATASOURCE_USERNAME=
QUARKUS_DATASOURCE_PASSWORD=

# Otel
OTEL_EXPORTER_OTLP_ENDPOINT=

# Keycloak
KEYCLOAK_ISSUER_URI=
