target/
docker/federation/supergraph.graphql
./data/
.poc-logs/
.mvn/wrapper/maven-wrapper.jar
*.log

.idea/
*.iml
.settings/
.project
.classpath

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.DS_Store

node_modules/
.nx/
.pnpm-store/

infra/dist/
.sst
sst-env.d.ts
.env

vite.config.*.timestamp*
vitest.config.*.timestamp*
